@font-face {
  font-family: Livvic;
  src: url(../../fonts/Cabin_Sketch/CabinSketch-Regular.ttf);
}
@font-face {
  font-family: Livvic-Bold;
  src: url(../../fonts/Cabin_Sketch/CabinSketch-Bold.ttf);
}

@font-face {
  font-family: Londri;
  src: url(../../fonts/Londrina_Sketch/LondrinaSketch-Regular.ttf);
}
@font-face {
  font-family: Press;
  src: url(../../fonts/Press_Start/PressStart2P-Regular.ttf);
}
