// Colors

//main header color
$clr1: #fef288;

//main font color
$clr2: #707070;

//sub font color and bottom ad
$clr3: #ff9e7a;

// main section background
$clr4: #c4b8fe;

// main footer
$clr5: #f34444;

// rectangle 1
$clr6: #fff8dc;

// font-color
$clr7: #66cdaa;

// testimonies

$clr8: #fac980;

$clr9: rgb(44, 42, 42);

$clr10: #ff5b5b;

$clr11: #7fa3ff;
// Breakpoints
$mobile-breakpoint: 500px;
$normal-breakpoint: 1400px;

// "#FFFF",
// "#F6FE88",
// "#C4B8FE",
// "#FF7F50",
// "#BC8F8F",
// "#FFF8DC",
// "#66CDAA",
// "#FAC980",
